* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 50px auto;
    text-align: center;
    width: 800px;
    background-color: #e9e9e9;
}

h1 {
    font-family: 'Passion One';
    font-size: 2rem;
    text-transform: uppercase;
}

label {
    width: 150px;
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Lato';
}

input {
    border: 2px solid #ccc;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato';
    padding: 10px;
}

form {
    margin: 25px auto;
    padding: 20px;
    border: 5px solid #ccc;
    width: 500px;
    background: #eee;
}

div.form-element {
    margin: 10px 0;
}

button {
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-weight: 100;
    background: yellowgreen;
    color: white;
    border: none;
}

nav{
  background-color: #233647;
  font-family: Impact,"Lucida Console";
  font-size: 1.5em;
  margin-top: 10px;
  padding: 25px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 20px 20px 20px 20px;
}

.topnav .button1{
  float: center;
  margin-right: 20px;
}

.topnav .button2{
  float: center;
  margin-left: 20px;
}

.buttonr{
  background-color: #4CAF50;
}

.buttonl{
  background-color: #4CAF50;
}

p.success,
p.error {
    color: white;
    font-family: lato;
    background: yellowgreen;
    display: inline-block;
    padding: 2px 10px;
}

p.error {
    background: orangered;
}
